@charset "utf-8";

/* layout */
body { 
    width:1280px;
    height:800px;
}

#wrap{
    width:100%;
    height:100%;
    overflow:hidden
}

#container{
    position:relative;
    width:100%;
    height:100%;
    background: url('bg.jpg') no-repeat;
}

.img-con > div {
    position:absolute;
    width:267px;
    height:178px;
}
.img-con > div.img1 {
    background:url(./img_01.png) no-repeat;
}
.img-con > div.img2 {
    background:url(./img_02.png) no-repeat;
}
.img-con > div.img3 {
    background:url(./img_03.png) no-repeat;
}
.img-con > div.img4 {
    background:url(./img_04.png) no-repeat;
}
.img-con > div.img5 {
    background:url(./img_05.png) no-repeat;
}



.img-con > div:nth-child(1) {
    left: 497px;
    top: 126px;
}
.img-con > div:nth-child(2) {
    left: 863px;
    top: 126px;
}
.img-con > div:nth-child(3) {
    left: 131px;
    top: 337px;
}
.img-con > div:nth-child(4) {
    left: 497px;
    top: 337px;
}


.drag-area {
    position:absolute;
    width:267px;
    height:178px;
}
.drag-area:nth-child(1) {
    left: 497px;
    top: 126px;
}
.drag-area:nth-child(2) {
    left: 863px;
    top: 126px;
}
.drag-area:nth-child(3) {
    left: 131px;
    top: 337px;
}
.drag-area:nth-child(4) {
    left: 497px;
    top: 337px;
}
#drag-content .drag-area .area{
    position:relative;
    top:25%;
    left:25%;
    display: inline-block;
    width: 50%;
    height: 50%;
}


#drag-content .drag-item{
    width: 215px;
    height: 143px;
}
#drag-content .drag-item:nth-child(1) {
    background: url('drop_img_01.png') no-repeat;
}
#drag-content .drag-item:nth-child(2) {
    background: url('drop_img_02.png') no-repeat;
}
#drag-content .drag-item:nth-child(3) {
    background: url('drop_img_03.png') no-repeat;
}
#drag-content .drag-item:nth-child(4) {
    background: url('drop_img_04.png') no-repeat;
}
#drag-content .drag-item:nth-child(5) {
    background: url('drop_img_05.png') no-repeat;
}

#drag-content .drag-item .area{
    position:relative;
    top:0;
    left:0;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#drag-content .drag-item.active {
    display:none;
}



/* 
#gate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('start.jpg') no-repeat;
    cursor: pointer;
}


#drag-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('bg.jpg') no-repeat;
}


#drag-content .drag-area {
    position:absolute;
    transition:opacity 1s;
}

#drag-content .drag-area:nth-child(1) {
    width: 187px;
    height: 145px;
    left: 174px;
    top: 21px;
    background: url('box01.png') no-repeat;
}
#drag-content .drag-area:nth-child(2) {
    width: 172px;
    height: 130px;
    left: 223px;
    top: 355px;
    background: url('box02.png') no-repeat;
}
#drag-content .drag-area:nth-child(3) {
    width: 135px;
    height: 131px;
    left: 22px;
    top: 513px;
    background: url('box03.png') no-repeat;
}

#drag-content .drag-area .area{
    position:relative;
    top:25%;
    left:25%;
    display: inline-block;
    width: 50%;
    height: 50%;
}
#drag-content .drag-area.active {
    opacity:0;
}


#drag-content .drag-item{
    transition:opacity 1s;
}
#drag-content .drag-item:nth-child(1) {
    width: 242px;
    height: 199px;
    background: url('ob_01.png') no-repeat;
}
#drag-content .drag-item:nth-child(2) {
    width: 242px;
    height: 126px;
    background: url('ob_02.png') no-repeat;
}
#drag-content .drag-item:nth-child(3) {
    width: 193px;
    height: 201px;
    background: url('ob_03.png') no-repeat;
}

#drag-content .drag-item .area{
    position:relative;
    top:0;
    left:0;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#drag-content .drag-item.active {
    opacity:0;
} */