@charset "utf-8";

/* layout */
body { 
    width:1280px;
    height:800px;
}

#wrap{
    width:100%;
    height:100%;
    overflow:hidden
}

#container{
    position:relative;
    width:100%;
    height:100%;
    background: url("bg.jpg") no-repeat;
}

.btn{
    position: absolute;
}
#btn1{
    left:659px;
    top:672px;
    width:184px;
    height:87px;
    background: url("btn_01.png") no-repeat;
}
#btn2{
    left:853px;
    top:672px;
    width:184px;
    height:87px;
    background: url("btn_02.png") no-repeat;
}
#btn3{
    left:1045px;
    top:672px;
    width:184px;
    height:87px;
    background: url("btn_03.png") no-repeat;
}

.hiddenArea{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}
.hiddenArea.show{
    opacity: 1;
}

#hiddenArea1{
    left:180px;
    top:226px;
    width:194px;
    height:385px;
    background: url("blank01.png") no-repeat;
}
#hiddenArea2{
    left:180px;
    top:225px;
    width:386px;
    height:451px;
    background: url("blank02.png") no-repeat;
}