@charset "utf-8";

/* layout */
body { 
    width:1280px;
    height:800px;
}

#wrap{
    width:100%;
    height:100%;
    overflow:hidden
}

#container{
    position:relative;
    width:100%;
    height:100%;
    background: url('bg_sub.jpg') no-repeat;
}

.puzzle-bg {
    position: absolute;
    left:71px;
    top:192px;
    width:794px;
    height:500px;
}
.puzzle-bg.puzzle1 {
    background: url('puzzle_img01_bg.png') no-repeat;
}
.puzzle-bg.puzzle2 {
    background: url('puzzle_img02_bg.png') no-repeat;
}

.puzzle-line {
    position: absolute;
    left: 61px;
    top: 186px;
    width:809px;
    height:510px;
    background: url('line.png') no-repeat;
}

.puzzle-clear .item {
    position: absolute;
    opacity:0;
}
.puzzle-clear .item:nth-child(1) {
    left: 78px;
    top: 192px;
}
.puzzle-clear .item:nth-child(2) {
    left: 271px;
    top: 192px;
}
.puzzle-clear .item:nth-child(3) {
    left: 534px;
    top: 192px;
}

.puzzle-clear .item:nth-child(4) {
    left: 71px;
    top: 356px;
}
.puzzle-clear .item:nth-child(5) {
    left: 266px;
    top: 382px;
}
.puzzle-clear .item:nth-child(6) {
    left: 602px;
    top: 379px;
}


.puzzle-content .drag-area {
    position:absolute;
    width: 250px;
    height: 240px;
}

.puzzle-content .drag-area:nth-child(1) {
    left: 78px;
    top: 197px;
}
.puzzle-content .drag-area:nth-child(2) {
    left: 340px;
    top: 197px;
}
.puzzle-content .drag-area:nth-child(3) {
    left: 608px;
    top: 197px;
}
.puzzle-content .drag-area:nth-child(4) {
    left: 78px;
    top: 445px;
}
.puzzle-content .drag-area:nth-child(5) {
    left: 340px;
    top: 445px;
}
.puzzle-content .drag-area:nth-child(6) {
    left: 608px;
    top: 445px;
}

.puzzle-content .drag-area .area {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 50%;
    top:25%;
    left:25%;
}

.puzzle-content .drag-item{
    transition:opacity 1s;
}
.puzzle-content .drag-item:nth-child(1) {
    width:141px;
    height:135px;
    background: url('puzzle_img01_p01.png');
}

.puzzle-content .drag-item:nth-child(2) {
    width:184px;
    height:137px;
    background: url('puzzle_img01_p02.png');
}
.puzzle-content .drag-item:nth-child(3) {
    width:183px;
    height:138px;
    background: url('puzzle_img01_p03.png');
}

.puzzle-content .drag-item:nth-child(4) {
    width:149px;
    height:181px;
    background: url('puzzle_img01_p04.png');
}

.puzzle-content .drag-item:nth-child(5) {
    width:227px;
    height:168px;
    background: url('puzzle_img01_p05.png');
}

.puzzle-content .drag-item:nth-child(6) {
    width:143px;
    height:169px;
    background: url('puzzle_img01_p06.png');
}
.puzzle-content .drag-item .area{
    display:inline-block;
    width:100%;
    height:100%;
}

.puzzle-content .drag-item.active{
    opacity:0;
}


.puzzle-content.puzzle1 .drag-item:nth-child(1) {
    background: url('puzzle_img01_p01.png');
}

.puzzle-content.puzzle1 .drag-item:nth-child(2) {
    background: url('puzzle_img01_p02.png');
}
.puzzle-content.puzzle1 .drag-item:nth-child(3) {
    background: url('puzzle_img01_p03.png');
}

.puzzle-content.puzzle1 .drag-item:nth-child(4) {
    background: url('puzzle_img01_p04.png');
}

.puzzle-content.puzzle1 .drag-item:nth-child(5) {
    background: url('puzzle_img01_p05.png');
}

.puzzle-content.puzzle1 .drag-item:nth-child(6) {
    background: url('puzzle_img01_p06.png');
}

.puzzle-content.puzzle2 .drag-item:nth-child(1) {
    background: url('puzzle_img02_p01.png');
}

.puzzle-content.puzzle2 .drag-item:nth-child(2) {
    background: url('puzzle_img02_p02.png');
}
.puzzle-content.puzzle2 .drag-item:nth-child(3) {
    background: url('puzzle_img02_p03.png');
}

.puzzle-content.puzzle2 .drag-item:nth-child(4) {
    background: url('puzzle_img02_p04.png');
}

.puzzle-content.puzzle2 .drag-item:nth-child(5) {
    background: url('puzzle_img02_p05.png');
}

.puzzle-content.puzzle2 .drag-item:nth-child(6) {
    background: url('puzzle_img02_p06.png');
}