@charset "utf-8";

/* layout */
body { 
    width:1280px;
    height:800px;
}

#wrap{
    width:100%;
    height:100%;
    overflow:hidden
}

#container{
    position:relative;
    width:100%;
    height:100%;
}
