@charset "utf-8";

/* layout */
body { 
    width:1280px;
    height:800px;
}

#wrap{
    width:100%;
    height:100%;
    overflow:hidden
}

#container{
    position:relative;
    width:100%;
    height:100%;
    background: url("bg.jpg") no-repeat;
}

#drag-content .drag-area {
    position:absolute;
    opacity: 0.4;
    width: 206px;
    height: 115px;
    top: 419px;
}

#drag-content .drag-area:nth-child(1) {
    left: 27px;
}
#drag-content .drag-area:nth-child(2) {
    left: 233px;
}
#drag-content .drag-area:nth-child(3) {
    left: 437px;
}
#drag-content .drag-area:nth-child(4) {
    left: 643px;
}
#drag-content .drag-area:nth-child(5) {
    left: 848px;
}
#drag-content .drag-area:nth-child(6) {
    left: 1054px;
}
#drag-content .drag-area .area{
    position:relative;
    top:25%;
    left:25%;
    display: inline-block;
    width: 50%;
    height: 50%;
}




#drag-content .drag-item{
    transition:opacity 1s;
}

#drag-content .drag-item.item1 {
    width: 173px;
    height: 186px;
}
#drag-content .drag-item.item2 {
    width: 173px;
    height: 186px;
}
#drag-content .drag-item.item3 {
    width: 163px;
    height: 184px;
}
#drag-content .drag-item.item4 {
    width: 150px;
    height: 186px;
}

#drag-content .drag-item .img {
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    width:100%;
    height:100%;
}

#drag-content .drag-item.item1 .img{
   background: url('instrument_01.png') no-repeat center;
   background-size: auto 100%;
}
#drag-content .drag-item.item2 .img{
   background: url('instrument_02.png') no-repeat center;
   background-size: auto 100%;
}
#drag-content .drag-item.item3 .img{
   background: url('instrument_03.png') no-repeat center;
   background-size: auto 100%;
}
#drag-content .drag-item.item4 .img{
   background: url('instrument_04.png') no-repeat center;
   background-size: auto 100%;
}

#drag-content .drag-item.active {
    width:198px;
    height:106px;
}

#drag-content .drag-item .area{
    position:relative;
    top:0;
    left:0;
    display: inline-block;
    width: 100%;
    height: 100%;
}